@font-face {
    font-family: Eternal_UI;
        src: url("EternalUiRegular-1Gap2.ttf") format('truetype');
}

body {
    background-color: rgb(253, 251, 251);
    font-size: 16px;
    color: rgb(0, 0, 3);
    line-height: 18px;
    font-family: Eternal_UI, sans-serif;
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00d084;
    padding-left: 10px;
    color: white;
    text-shadow: 2px 2px gray;
}

#photo_section {
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}

#minha_foto {
    height: 300px;
    border-radius: 100%;
}

.lado-direito, .lado-esquerdo {
    display: inline-block;
    padding: 5px;
    position: relative;
}

.lado-direito {
    background-color: lightgray;
    width: 30%;
    border: 1px solid gray;
    text-align: right;
    right: 8%;
    float: right;
}

.lado-esquerdo {
    width: 60%;
    top: 0px;
    left: 0px;
}

#licoes_aprendidas, #licoes_a_aprender {
    display: inline-block;
    width: 30%;
}

.licoes {
    margin-top: 5px;
    height: 220px;
    padding-bottom: 15px;
}

#licoes_aprendidas {
    position: absolute;
    left: 10%;
}

#licoes_a_aprender {
    position: absolute;
    right: 10%;
}

#tabela {
    border-collapse: collapse;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.botao {
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5%;
}

#tabela td, #tabela th {
    border: 1px solid black;
    text-align: center;
}