@font-face {
	font-family:'ChronoType';
		src:url('ChronoType.eot');
		src:url('ChronoType.eot?#iefix') format('embedded-opentype'),
				url('ChronoType.woff') format('woff'),
				url('ChronoType.ttf') format('truetype'),
				url('ChronoType.svg#ChronoType') format('svg');
	/* font-weight:normal;
	font-style:normal; */
}

@font-face {
    font-family: 'Eternal_UI';
        src: url(EternalUiRegular-1Gap2.ttf) format('truetype');
}

::-webkit-scrollbar {
	width: 20px;
}

	/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
	height: 20px;
	background-image: url("arrow-up.png");
	background-size: contain;
  }
	/* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
	height: 20px;
	background-image: url("arrow-down.png");
	background-size: contain;
  }

  ::-webkit-scrollbar-track {
	  background: green;
	  border: 5px solid orange;
  }

  ::-webkit-scrollbar-thumb {
	  background: red;
  }

body {
	background-color: rgb(0, 0, 0);
    font-family: 'ChronoType';
	font-size: 30px;
	color: white;
}

header {
	border: 1px solid white;
	text-align: right;
}

div {
	border: 1px solid white;
}

.myName {
	float: left;
	font-family: "Eternal_UI";
}

.nagvBtn {
	font-family: "Eternal_UI";
	display: inline;
}

.main{
	padding: 10px;
}

.main_content {
	display: inline-block;
	height: 400px;
	align-items: center;
	vertical-align: middle;
}

#img_holder {
	width: 40%;
	padding: 6px;
	height: fit-content;
	text-align: center;
	vertical-align: top;
}

#foto {
	max-height: 400px;
}

#text_holder {
	width: 50%;
	overflow: auto;
}